$beige: hsl(48, 83%, 89%);
$mainYellow: hsl(47, 87%, 66%);
$mainBlue: hsl(211, 66%, 40%);
$lightOrange: hsl(28, 83%, 61%);
$darkOrange: hsl(10, 94%, 60%);

$primary: $mainBlue;
$strong-color: inherit;
$family-primary: 'Work Sans', sans-serif;